a{
    padding: 0px 45px 0px 0px;
    cursor: pointer;
}
.card-container{
    width: 75%;
  margin: 0 auto;
  padding-bottom: 5px;
}

.option-container{
    border-bottom: 1px solid rgba(75, 74, 82, 0.308);
    padding-top: 20px;
}
span{
    padding-right: 90px;
}
p-footer{
    margin-top: 40px;
}