<form class="form-class" [formGroup]="form">
  <h2>LOGIN</h2>
  <app-textfield [label]="name1" [formControl]="form.controls['email']"
    [placeholder]="p_holder1">
    <mat-icon>{{_icon1}}</mat-icon>
  </app-textfield>
  <br>
  <app-textfield [label]="name2" [formControl]="form.controls['password']"
    [placeholder]="p_holder2" [type]="_type">
    <mat-icon>{{_icon2}}</mat-icon>
  </app-textfield>
  <br>
  <br>
  <app-button [value]="text"></app-button>
  <br>
  <br>
  <a routerLink="/signup">Create a new account</a>
</form>
