textarea {
    border: none;
    border-bottom: 0.8px solid rgba(27, 26, 77, 0.623);
    font-size: 15px;
    height: 100px;
}

mat-label {
    font-size: 15px;
    font-weight: 500;
    text-shadow: 0 .5rem 1rem rgba(50, 0, 100, .1);
}
mat-form-field {
    width: 327px;
}