.ui-steps .ui-steps-item {
    align-content: center;
    width: 33.33%;
    border: none !important;
}

.ui-steps.steps-custom {
    margin-bottom: 30px;
    
}

body .ui-steps .ui-steps-item .ui-menuitem-link:focus {
    box-shadow: none;
}

/* .ui-steps.steps-custom .ui-steps-item .ui-menuitem-link {
    padding: 0 0.5em;
    overflow: visible;
} */

/* .ui-steps.steps-custom .ui-steps-item .ui-steps-number {
    background-color: #060707;
    color: #FFFFFF;
    display: inline-block;
    width: 36px;
    border-radius: 50%;
    margin-top: -14px;
    margin-bottom: 10px;
} */

/* .ui-steps.steps-custom .ui-steps-item .ui-steps-title {
    color: #555555;
} */
h1{
    font-family: 'Varela Round';
    font-weight: 600;
    color: rgb(27, 26, 77);
    text-shadow: 0 .5rem 1rem rgba(50, 0, 100, .1);
    /* background-color: rgba(137, 212, 247, 0.178); */
    font-size: 2rem;
    padding: 20px;
    margin-bottom: auto;
    text-align: center;
}

.form-class {
    color: rgb(0, 0, 0);
    height: 100%;
    text-align: center;
}


mat-form-field {
    width: 327px;
}
mat-select {
    border: none;
    border-bottom: 0.8px solid rgba(27, 26, 77, 0.623);
    font-size: 15px;
}

mat-label {
    font-size: 15px;
    font-weight: 500;
    text-shadow: 0 .5rem 1rem rgba(50, 0, 100, .1);
}
app-button {
    padding: 1%;
}
.container{
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
    margin-bottom: 50px;
}
.submit-button{
    float: right;
    margin-right: 11.5%;
}