<form class="form-class" [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
    <h2>SIGN UP</h2>
    <app-textfield label="Name" [formControl]="form.controls['firstName']">
        <mat-icon>face</mat-icon>
    </app-textfield>
    <br>
    <app-textfield label="Email" [formControl]="form.controls['email']" placeholder="Ex. abc@xyz.com">
        <mat-icon>email</mat-icon>
    </app-textfield>
    <br><br>
    <app-textfield label="Password" [formControl]="form.controls['password']" type="password">
        <mat-icon>lock</mat-icon>
    </app-textfield>
    <br>
    <app-textfield appConfirmEqualValidator="password" label="Confirm Password"
        [formControl]="form.controls['confirmPassword']" type="password">
        <mat-icon>enhanced_encryption</mat-icon>
    </app-textfield>
    <br>
    <br>
    <app-button btnLabel="Sign Up"></app-button>
</form>