<form class="form-class" [formGroup]="form">
    <h2>SIGN UP</h2>
    <app-textfield [label]="name"
        [formControl]="form.controls['firstName']">
        <mat-icon>{{nameIcon}}</mat-icon>
    </app-textfield>
    <br>
    <app-textfield [label]="mail"
        [formControl]="form.controls['email']"
        [placeholder]="pholderEmail">
        <mat-icon>{{emailIcon}}</mat-icon>
    </app-textfield>
    <br><br>
    <app-textfield [label]="pswd"
        [formControl]="form.controls['password']"
        [type]="_type">
        <mat-icon>{{pswdIcon}}</mat-icon>
    </app-textfield>
    <br>
    <app-textfield appConfirmEqualValidator="password" [label]="cfPswd"
        [formControl]="form.controls['confirmPassword']"
        [type]="_type">
        <mat-icon>{{cfpIcon}}</mat-icon>
    </app-textfield>
    <br>
    <br>
    <app-button [btnLabel]="buttonLabel"></app-button>
</form>
