@import url('https://fonts.googleapis.com/css?family=Varela+Round');

mat-label {
    font-size: 20px;
    font-weight: 500;
    color: rgb(27, 26, 77);
    text-shadow: 0 .5rem 1rem rgba(50, 0, 100, .1);
}

input{
    border: none;
    border-bottom: 1px solid rgba(27, 26, 77, 0.623);
    font-size: 20px;
}