<ng-content></ng-content>
<mat-form-field appearance="none" [style.width.px]=327>
  <mat-label>{{label}}</mat-label>
  <input matInput
    [placeholder]="placeholder"
    [type]="type"
    class="form-control"
    [formControl]="ngControl.control">
  <mat-error
    *ngIf="ngControl.hasError('required')">
    {{ label }} must be required
  </mat-error>
  <mat-error
    *ngIf="ngControl.hasError('minlength')">
    Minimum characters should be
    {{ngControl.errors['minlength'].requiredLength}}
  </mat-error>
  <mat-error *ngIf="ngControl.hasError('maxlength')">
    Name should not exceed {{ngControl.errors['maxlength'].requiredLength}}
    characters
  </mat-error>
  <mat-error *ngIf="ngControl.hasError('email') &&
    !ngControl.hasError('required')">
    Please enter a valid email address
  </mat-error>
  <mat-error *ngIf="ngControl.hasError('notEqual') &&
    !ngControl.hasError('required')">
    Passwords doesn't match.
  </mat-error>
</mat-form-field>
