<form class="form-class" [formGroup]="form"
    (ngSubmit)="createSurvey()" #createSurForm="ngForm">
    <h1>Create your own survey</h1>
    <app-textfield
        label="Survey Name"
        [formControl]="form.controls['survey_name']"
        placeholder="Enter a name">
        </app-textfield>
    <br>
    <app-text-area
        label="Description"
        [formControl]="form.controls['survey_description']"
        placeholder= "Write something about your survey...">
    </app-text-area>
    <br>
    <br>
    <app-button btnLabel="Create"></app-button>
    <div>
    </div>
</form>