<form class="form-class" [formGroup]="form"
    (ngSubmit)="createSurvey()" #createSurForm="ngForm">
    <h1>Create your own survey</h1>
    <app-textfield
        [label]="surName"
        [formControl]="form.controls['survey_name']"
        [placeholder]="plhrSurName">
        </app-textfield>
    <br>
    <app-text-area
        [label]="desName"
        [formControl]="form.controls['survey_description']"
        [placeholder]= "plhrDes">
    </app-text-area>
    <br>
    <br>
    <app-button [btnLabel]="buttonLabel"></app-button>
    <div>
    </div>
</form>